@font-face {
  font-family: Oswald;
  src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  width: 100%;
  margin : 0 auto;

  background-color: lightblue;
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
